<div class="container-fluid asking">
    <div class="container">
        <h2>запитання - відповіді</h2>

        <ul class="questions">
            <li class="active">
                <h3>Заміри</h3>
                <p>
                    У випадку коли заміри, технічне обстеження та монтаж здійснюются нашими фахівцями, то ми гарантуємо
                    що вивіска підійде, міцно триматиметься на стіні, та несемо
                    за це відповідальність. Коли замовник надає нам інформацію про розміри, то ця відповідальність лягає
                    на печі клієнта.
                    <br>
                    Заміри, та технічне обстеження об'єкта коштують 200-300грн - залежно від міста. При замовленні де
                    попередньо оплачена сума входить у вартість вивіски.
                </p>
            </li>
            <li>
                <h3>Художнє оформленя</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat
                </p>
            </li>
            <li>
                <h3>Монтаж своїми силами</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat
                </p>
            </li>
            <li>
                <h3>Монтаж вивіски фахівцями РВК Артлайт</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat
                </p>
            </li>
            <li>
                <h3>Підключення та пусконалагоджувальні роботи</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat
                </p>
            </li>
            <li>
                <h3>Оплата та доставка</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
            </li>
        </ul>
    </div>
</div>