<div class="footer">
    <div class="container-fluid map"></div>
    <div class="container-fluid subscribe">
        <span>Підписуйтесь на розсилку:</span>
        <input type="text" placeholder="Ваш Email:">
        <button>ПІДПИСАТИСЯ</button>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="">
                    <img src="img/artlight-logo2.png" alt="">
                </div>
                <div class="row addr">
                    <div class="">
                        <i>
                            35360, Україна, Рівненська обл. <br>
                            с. Велика Омеляна, ул. Шевченка, 28
                        </i>
                    </div>
                    <div class="phones row">
                        <img src="img/phone.svg" alt="tel" width="38" height="38">
                        <div>
                            <div>
                                (098) <b>800-80-30</b>
                            </div>
                            <div>
                                (095) <b>280-80-30</b>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <p>Email: <b>8008030@ukr.net</b></p>
                        <p>
                            пн - пт: с 10:00 по 17:00 <br>
                            сб - нд: вихідні
                        </p>
                    </div>
                </div>
            </div>
            <div class="row bottom">
                <div>
                    РВК Артлайт ©2007-2018 <br>
                    Вся інформація захищена
                </div>
                <div class="row">
                    <div style="text-align: right">
                        Ми в соціальних<br>
                        мережах:
                    </div>
                    <div class="icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>