<div class="footer">
    <div class="container-fluid map"></div>
    <div class="container-fluid subscribe">
        <span>Підписуйтесь на розсилку:</span>
        <input type="text" placeholder="Ваш Email:">
        <button>ПІДПИСАТИСЯ</button>
    </div>
    <footer>
        <div>1</div>
        <div class="row">
            <div>
                РВК Артлайт ©2007-2018 <br>
                Вся інформація захищена
            </div>
            <div>
                <div>
                    Ми в соціальних <br>
                    мережах:
                </div>
            </div>
        </div>

    </footer>
</div>