<header>
    <div class="container">
        <ul class="cities">
            <li><a href="#">Луцьк</a></li>
            <li><a href="#">Львів</a></li>
            <li class="active"><a href="#">Рівне</a></li>
            <li><a href="#">Вінниця</a></li>
            <li><a href="#">Чернівці</a></li>
            <li><a href="#">Івано-Франківськ</a></li>
            <li><a href="#">Хмельницький</a></li>
            <li><a href="#">Київ</a></li>
            <li><a href="#">Тернопіль</a></li>
            <li><a href="#">Ужгород</a></li>
            <li><a href="#">Житомир</a></li>
        </ul>
        <div class="language">
            <a href="#" class="active">UA</a>|<a href="#">RU</a>
        </div>
    </div>
    <div class="container space-between">
        <div class="col-6">
            <img src="img/logo.png" alt="logo">
        </div>
        <div class="col-6 space-between" >
            <div class="phones">
                <img src="img/phone.svg" alt="tel">
                <div>
                    <div>
                        (098) <b>800-80-30</b>
                    </div>
                    <div>
                        (095) <b>280-80-30</b>
                    </div>
                </div>
            </div>
            <div class="miniLogo">
                <img src="img/miniLogo.png" alt="minilogo">
            </div>
        </div>
    </div>
    <div class="container-fluid black">
        <div class="container">
            <ul class="menu">
                <li>
                    <a href="#">ПРО НАС</a>
                    <ul class="submenu">
                        <li><a href="#">Виготовлення вивісок</a></li>
                        <li><a href="#">Брендування транспорту</a></li>
                        <li><a href="#">Брендування торгових точок</a></li>
                        <li><a href="#">Брендування аптек</a></li>
                        <li><a href="#">Брендування вітрин</a></li>
                        <li><a href="#">Брендування торгового обладнання</a></li>
                        <li><a href="#">Куточок споживача</a></li>
                        <li><a href="#">Щити та рекламні конструкції</a></li>
                        <li><a href="#">Стенди</a></li>
                        <li><a href="#">Таблички</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">ПОРТФОЛІО</a>
                    <ul class="submenu">
                        <li><a href="#">Виготовлення вивісок</a></li>
                        <li><a href="#">Брендування транспорту</a></li>
                        <li><a href="#">Брендування торгових точок</a></li>
                        <li><a href="#">Брендування аптек</a></li>
                        <li><a href="#">Брендування вітрин</a></li>
                        <li><a href="#">Брендування торгового обладнання</a></li>
                        <li><a href="#">Куточок споживача</a></li>
                        <li><a href="#">Щити та рекламні конструкції</a></li>
                        <li><a href="#">Стенди</a></li>
                        <li><a href="#">Таблички</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">ЗОВНІШНЯ <br> РЕКЛАМА</a>
                    <ul class="submenu">
                        <li><a href="#">Виготовлення вивісок</a></li>
                        <li><a href="#">Брендування транспорту</a></li>
                        <li><a href="#">Брендування торгових точок</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">ПОСЛУГИ</a>
                    <ul class="submenu">
                        <li><a href="#">Виготовлення вивісок</a></li>
                        <li><a href="#">Брендування транспорту</a></li>
                        <li><a href="#">Брендування торгових точок</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">МЕРЕЖЕВІ <br> ОБ’ЄКТИ</a>
                    <ul class="submenu">
                        <li><a href="#">Виготовлення вивісок</a></li>
                        <li><a href="#">Брендування транспорту</a></li>
                        <li><a href="#">Брендування торгових точок</a></li>
                    </ul>
                </li>
                <li class="right-align">
                    <a href="#">ЯК ЗАМОВИТИ</a>
                    <ul class="submenu">
                        <li><a href="#">Виготовлення вивісок</a></li>
                        <li><a href="#">Брендування транспорту</a></li>
                        <li><a href="#">Брендування торгових точок</a></li>
                    </ul>
                </li>
                <li class="right-align">
                    <a href="#">ВІДЕО</a>
                    <ul class="submenu">
                        <li><a href="#">Виготовлення вивісок</a></li>
                        <li><a href="#">Брендування транспорту</a></li>
                        <li><a href="#">Брендування торгових точок</a></li>
                    </ul>
                </li>
                <li class="right-align active">
                    <a href="#">СВІТОДІОДНА <br> РЕКЛАМА</a>
                    <ul class="submenu">
                        <li><a href="#">Виготовлення вивісок</a></li>
                        <li><a href="#">Брендування транспорту</a></li>
                        <li><a href="#">Брендування торгових точок</a></li>
                    </ul>
                </li>
                <li class="right-align">
                    <a href="#">ІНТЕР’ЄНА <br> РЕКЛАМА</a>
                    <ul class="submenu">
                        <li><a href="#">Виготовлення вивісок</a></li>
                        <li><a href="#">Брендування транспорту</a></li>
                        <li><a href="#">Брендування торгових точок</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>

