<div class="three-col">
<div class="container our_perv">

    <div class="imgGallery">
        <div class="item">
            <img src="./img/gallery/foto-1.jpg" alt="">
            <div class="overlay">
                <p>
                    Виготовлення та монтаж світлодиамічної
                    RGB вивіски Coffeе shop
                </p>
            </div>
        </div>
        <div class="item">
            <img src="./img/gallery/foto-2.jpg" alt="">
            <div class="overlay">
                <p>
                    Виготовлення та монтаж світлодиамічної
                    RGB вивіски Coffeе shop
                </p>
            </div>
        </div>
        <div class="item">
            <img src="./img/gallery/foto-3.jpg" alt="">
            <div class="overlay">
                <p>
                    Виготовлення та монтаж світлодиамічної
                    RGB вивіски Coffeе shop
                </p>
            </div>
        </div>
        <div class="item">
            <img src="./img/gallery/foto-4.jpg" alt="">
            <div class="overlay">
                <p>
                    Виготовлення та монтаж світлодиамічної
                    RGB вивіски Coffeе shop
                </p>
            </div>
        </div>
        <!---->
        <div class="item">
            <img src="./img/gallery/foto-1.jpg" alt="">
            <div class="overlay">
                <p>
                    Виготовлення та монтаж світлодиамічної
                    RGB вивіски Coffeе shop
                </p>
            </div>
        </div>
        <div class="item">
            <img src="./img/gallery/foto-2.jpg" alt="">
            <div class="overlay">
                <p>
                    Виготовлення та монтаж світлодиамічної
                    RGB вивіски Coffeе shop
                </p>
            </div>
        </div>
        </div>
</div>
</div>