<div class="container">
    <h2 class="active">
        Новини та статті
    </h2>
    <div class="row news">
        <div class="col-9">
            <div class="item">
                <img src="./img/gallery/foto-1.jpg" alt="">
                <h4 class="active">
                    Старовинні ковані вивіски
                </h4>
                <p>
                    РВК Артлайт проводить акцію до дня святого
                    Валентина - знижка на літери LOVE 10%.
                    Літери висотою 90  ...
                </p>
            </div>
            <div class="item">
                <img src="./img/gallery/foto-1.jpg" alt="">
                <h4 class="active">
                    Старовинні ковані вивіски
                </h4>
                <p>
                    РВК Артлайт проводить акцію до дня святого
                    Валентина - знижка на літери LOVE 10%.
                    Літери висотою 90  ...
                </p>
            </div>
            <div class="item">
                <img src="./img/gallery/foto-1.jpg" alt="">
                <h4 class="active">
                    Старовинні ковані вивіски
                </h4>
                <p>
                    РВК Артлайт проводить акцію до дня святого
                    Валентина - знижка на літери LOVE 10%.
                    Літери висотою 90  ...
                </p>
            </div>
            <div class="item">
                <img src="./img/gallery/foto-1.jpg" alt="">
                <h4 class="active">
                    Старовинні ковані вивіски
                </h4>
                <p>
                    РВК Артлайт проводить акцію до дня святого
                    Валентина - знижка на літери LOVE 10%.
                    Літери висотою 90  ...
                </p>
            </div>
            <div class="item">
                <img src="./img/gallery/foto-1.jpg" alt="">
                <h4 class="active">
                    Старовинні ковані вивіски
                </h4>
                <p>
                    РВК Артлайт проводить акцію до дня святого
                    Валентина - знижка на літери LOVE 10%.
                    Літери висотою 90  ...
                </p>
            </div>
            <div class="item">
                <img src="./img/gallery/foto-1.jpg" alt="">
                <h4 class="active">
                    Старовинні ковані вивіски
                </h4>
                <p>
                    РВК Артлайт проводить акцію до дня святого
                    Валентина - знижка на літери LOVE 10%.
                    Літери висотою 90  ...
                </p>
            </div>

        </div>
        <div class="col-3">
            <h3>СВІЖІ СТАТТІ</h3>
            <h4 class="active">
                Старовинні ковані вивіски
            </h4>
            <p>
                Мені завжди подобалися старовинні вивіски.
                Буваючи у Львові чи Ужгороді, я завжди
                звертав увагу на ці витвори мистецтва, які
                милували моє око.
            </p>
            <h4 class="active">Старовинні ковані вивіски</h4>
            <p>
                Мені завжди подобалися старовинні вивіски.
                Буваючи у Львові чи Ужгороді, я завжди
                звертав увагу на ці витвори мистецтва, які
                милували моє око.
            </p>
            <h4 class="active">Старовинні ковані вивіски</h4>
            <p>
                Мені завжди подобалися старовинні вивіски.
                Буваючи у Львові чи Ужгороді, я завжди
                звертав увагу на ці витвори мистецтва, які
                милували моє око.
            </p>
            <h4 class="active">Старовинні ковані вивіски</h4>
            <p>
                Мені завжди подобалися старовинні вивіски.
                Буваючи у Львові чи Ужгороді, я завжди
                звертав увагу на ці витвори мистецтва, які
                милували моє око.
            </p>
        </div>
    </div>
    <div class="center">
        <a href="#" class="show">Переглянути</a>
    </div>
</div>