<div class="order">
    <div>
        <div>
            <label></label> <span>ЗАЛИШИТИ ЗАЯВКУ:</span>
        </div>
    </div>
    <div>
        <div class="col-6">
            <fieldset>
                <div>
                    <label>* Ім’я:</label>
                    <input type="text" required>
                </div>
            </fieldset>
            <fieldset>
                <div>
                    <label>* E-mail:</label>
                    <input type="text" required>
                </div>
            </fieldset>
            <fieldset>
                <div>
                    <label>* Телефон:</label>
                    <input type="text" required>
                </div>
            </fieldset>
            <fieldset>
                <div>
                    <label>Адреса:</label>
                    <input type="text" required>
                </div>
            </fieldset>
        </div>
        <div class="col-6">
            <fieldset>
                <div>
                    <label>Повідомлення:</label>
                    <textarea name="" id="" cols="30" rows="10">                        </textarea>
                </div>
            </fieldset>
            <fieldset>
                <div>
                    <label>Код захисту:</label>
                    <div>
                        <span>dr5h4hg</span>
                        <input type="text">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div>
        <div>
            <label for=""></label>
            <i>* — поля обов’язкові для заповнення</i>
        </div>
        <button>НАДІСЛАТИ</button>
    </div>
</div>