<div class="container">
    <!--<h2 class="active">-->
        <!--виготовлення всіх видів зовнішньої реклами-->
    <!--</h2>-->
    <div class="videoDesc">
        <div class="row">
            <div class="col-6">
                <img src="./img/video.jpg" alt="">
            </div>
            <div class="col-6">
                <h3>дахова конструкція</h3>
                <p>
                    Дахові конструкції (зовнішня реклама) — це унікальна іміджева
                    конструкція великих розмірів, яка встановлюється на даху
                    будинку і, як правило, служить просуванню на ринку бренду
                    Вашої Компанії. У сучасних великих містах дахові конструкції
                    переважно встановлюються на дахах багатоповерхових будин-
                    ків вздовж основних артерій міста. ...
                </p>
                <a href="#" class="show">Переглянути</a>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <img src="./img/video.jpg" alt="">
            </div>
            <div class="col-6">
                <h3>стелла</h3>
                <p>
                    Дахові конструкції (зовнішня реклама) — це унікальна іміджева
                    конструкція великих розмірів, яка встановлюється на даху
                    будинку і, як правило, служить просуванню на ринку бренду
                    Вашої Компанії. У сучасних великих містах дахові конструкції
                    переважно встановлюються на дахах багатоповерхових будин-
                    ків вздовж основних артерій міста.  ...
                </p>
                <a href="#" class="show">Переглянути</a>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <img src="./img/video.jpg" alt="">
            </div>
            <div class="col-6">
                <h3>світловий короб</h3>
                <p>
                    Дахові конструкції (зовнішня реклама) — це унікальна іміджева
                    конструкція великих розмірів, яка встановлюється на даху
                    будинку і, як правило, служить просуванню на ринку бренду
                    Вашої Компанії. У сучасних великих містах дахові конструкції
                    переважно встановлюються на дахах багатоповерхових будин-
                    ків вздовж основних артерій міста. ...
                </p>
                <a href="#" class="show">Переглянути</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="./img/video.jpg" alt="">
            </div>
            <div class="col-6">
                <h3>об’ємні літери</h3>
                <p>
                    Дахові конструкції (зовнішня реклама) — це унікальна іміджева
                    конструкція великих розмірів, яка встановлюється на даху
                    будинку і, як правило, служить просуванню на ринку бренду
                    Вашої Компанії. У сучасних великих містах дахові конструкції
                    переважно встановлюються на дахах багатоповерхових будин-
                    ків вздовж основних артерій міста. ...
                </p>
                <a href="#" class="show">Переглянути</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="./img/video.jpg" alt="">
            </div>
            <div class="col-6">
                <h3>бігуча стрічка</h3>
                <p>
                    Дахові конструкції (зовнішня реклама) — це унікальна іміджева
                    конструкція великих розмірів, яка встановлюється на даху
                    будинку і, як правило, служить просуванню на ринку бренду
                    Вашої Компанії. У сучасних великих містах дахові конструкції
                    переважно встановлюються на дахах багатоповерхових будин-
                    ків вздовж основних артерій міста. ...
                </p>
                <a href="#" class="show">Переглянути</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="./img/video.jpg" alt="">
            </div>
            <div class="col-6">
                <h3>світлодіодний екран</h3>
                <p>
                    Дахові конструкції (зовнішня реклама) — це унікальна іміджева
                    конструкція великих розмірів, яка встановлюється на даху
                    будинку і, як правило, служить просуванню на ринку бренду
                    Вашої Компанії. У сучасних великих містах дахові конструкції
                    переважно встановлюються на дахах багатоповерхових будин-
                    ків вздовж основних артерій міста. ...
                </p>
                <a href="#" class="show">Переглянути</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="./img/video.jpg" alt="">
            </div>
            <div class="col-6">
                <h3>медична вивіска</h3>
                <p>
                    Дахові конструкції (зовнішня реклама) — це унікальна іміджева
                    конструкція великих розмірів, яка встановлюється на даху
                    будинку і, як правило, служить просуванню на ринку бренду
                    Вашої Компанії. У сучасних великих містах дахові конструкції
                    переважно встановлюються на дахах багатоповерхових будин-
                    ків вздовж основних артерій міста. ...
                </p>
                <a href="#" class="show">Переглянути</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="./img/video.jpg" alt="">
            </div>
            <div class="col-6">
                <h3>аптечний хрест</h3>
                <p>
                    Дахові конструкції (зовнішня реклама) — це унікальна іміджева
                    конструкція великих розмірів, яка встановлюється на даху
                    будинку і, як правило, служить просуванню на ринку бренду
                    Вашої Компанії. У сучасних великих містах дахові конструкції
                    переважно встановлюються на дахах багатоповерхових будин-
                    ків вздовж основних артерій міста. ...
                </p>
                <a href="#" class="show">Переглянути</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="./img/video.jpg" alt="">
            </div>
            <div class="col-6">
                <h3>брендування транспорту</h3>
                <p>
                    Дахові конструкції (зовнішня реклама) — це унікальна іміджева
                    конструкція великих розмірів, яка встановлюється на даху
                    будинку і, як правило, служить просуванню на ринку бренду
                    Вашої Компанії. У сучасних великих містах дахові конструкції
                    переважно встановлюються на дахах багатоповерхових будин-
                    ків вздовж основних артерій міста. ...
                </p>
                <a href="#" class="show">Переглянути</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="./img/video.jpg" alt="">
            </div>
            <div class="col-6">
                <h3>широкоформатний друк</h3>
                <p>
                    Дахові конструкції (зовнішня реклама) — це унікальна іміджева
                    конструкція великих розмірів, яка встановлюється на даху
                    будинку і, як правило, служить просуванню на ринку бренду
                    Вашої Компанії. У сучасних великих містах дахові конструкції
                    переважно встановлюються на дахах багатоповерхових будин-
                    ків вздовж основних артерій міста. ...
                </p>
                <a href="#" class="show">Переглянути</a>
            </div>
        </div>

    </div>
</div>