<div class="container">
    <div class="rait">
        <div class="col-5">
            <div class="field">
                <label for=""></label>
                <h3>Оцінити роботу компанії</h3>
            </div>
            <div class="field">
                <label for="">
                    * Ім’я:
                </label>
                <input type="text">
            </div>
            <div class="field">
                <label for="">
                    * E-mail:
                </label>
                <input type="text">
            </div>
            <div class="field">
                <label for="">
                    * Телефон:
                </label>
                <input type="text">
            </div>
            <div class="field">
                <label for="">
                    Адреса:
                </label>
                <input type="text">
            </div>
            <div class="field">
                <label for="">
                </label>
                <i>* — поля обов’язкові для заповнення</i>
            </div>
        </div>
        <div class="col-7 column">
            <div class="row">
                <span>Погано</span>
                1<input name="rait" type="radio" value="1" id="r1"><label for="r1"></label>
                2<input name="rait" type="radio" value="2" id="r2"><label for="r2"></label>
                3<input name="rait" type="radio" value="3" id="r3"><label for="r3"></label>
                4<input name="rait" type="radio" value="4" id="r4"><label for="r4"></label>
                5<input name="rait" type="radio" value="5" id="r5"><label for="r5"></label>
                6<input name="rait" type="radio" value="6" id="r6"><label for="r6"></label>
                7<input name="rait" type="radio" value="7" id="r7"><label for="r7"></label>
                8<input name="rait" type="radio" value="8" id="r8"><label for="r8"></label>
                9<input name="rait" type="radio" value="9" id="r9"><label for="r9"></label>
                10<input name="rait" type="radio" value="10" id="r10"><label for="r10"></label>
                <span>Добре</span>
            </div>
            <div class="field">
                <label for="">
                    Коментар:
                </label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="field">
                <label>* Код захисту:</label>
                <div>
                    <div>
                        <span>dr5h4hg</span>
                        <input type="text">
                    </div>
                    <button>НАДІСЛАТИ</button>
                </div>
            </div>
        </div>
    </div>
</div>