<div class="container response">
    <h2>відгуки наших замовників</h2>

    <div class="items">
        <div class="row">
            <div class="col-6 video">
                <img src="./img/video.jpg" alt="">
            </div>
            <div class="col-6 info">
                <img src="./img/fotoportret.png" alt="">
                <div>
                    <div>
                        <h4>ГАЛУЗИНСЬКИЙ ОЛЕКСАНДР</h4>
                        <i>Директор, мережа магазинів “Капітошка”</i>
                    </div>
                    <p>
                        «…Нашій компанії потрібно було купити щось
                        особливе, щось щоб виділити наш магазин серед
                        конкурентів, вибір припав на RGB світлодіодну
                        стрічку, були побоювання на рахунок якості
                        виготовлення, але всі побоювання були марними,
                        стрічка виконана просто дивовижно, металевий
                        корпус, управління з ноутбука, з усіх питань
                        управління медійним табло були проконсультіро-
                        вание технічним директором РВК Артлайт, все
                        виявилося на багато прос тіше ніж можна було
                        уявити, дуже задоволені якістю виробу, рекомен-
                        дую дану компанію!…»
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6 video">
                <img src="./img/video.jpg" alt="">
            </div>
            <div class="col-6 info">
                <img src="./img/fotoportret.png" alt="">
                <div>
                    <div>
                        <h4>ГАЛУЗИНСЬКИЙ ОЛЕКСАНДР</h4>
                        <i>Директор, мережа магазинів “Капітошка”</i>
                    </div>
                    <p>
                        «…Нашій компанії потрібно було купити щось
                        особливе, щось щоб виділити наш магазин серед
                        конкурентів, вибір припав на RGB світлодіодну
                        стрічку, були побоювання на рахунок якості
                        виготовлення, але всі побоювання були марними,
                        стрічка виконана просто дивовижно, металевий
                        корпус, управління з ноутбука, з усіх питань
                        управління медійним табло були проконсультіро-
                        вание технічним директором РВК Артлайт, все
                        виявилося на багато прос тіше ніж можна було
                        уявити, дуже задоволені якістю виробу, рекомен-
                        дую дану компанію!…»
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6 video">
                <img src="./img/video.jpg" alt="">
            </div>
            <div class="col-6 info">
                <img src="./img/fotoportret.png" alt="">
                <div>
                    <div>
                        <h4>ГАЛУЗИНСЬКИЙ ОЛЕКСАНДР</h4>
                        <i>Директор, мережа магазинів “Капітошка”</i>
                    </div>
                    <p>
                        «…Нашій компанії потрібно було купити щось
                        особливе, щось щоб виділити наш магазин серед
                        конкурентів, вибір припав на RGB світлодіодну
                        стрічку, були побоювання на рахунок якості
                        виготовлення, але всі побоювання були марними,
                        стрічка виконана просто дивовижно, металевий
                        корпус, управління з ноутбука, з усіх питань
                        управління медійним табло були проконсультіро-
                        вание технічним директором РВК Артлайт, все
                        виявилося на багато прос тіше ніж можна було
                        уявити, дуже задоволені якістю виробу, рекомен-
                        дую дану компанію!…»
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>