<div class="container-fluid skew">
    <div class="container our_perv">
        <h2 class="active">
            хто  працює  над вашою рекламою
        </h2>
        <div class="textedItems">
            <div>
                <img src="./img/gallery/fotoportret.png" alt="" width="140" height="140">
                <div class="caption">
                    <h3>Микола Шершун</h3>
                    <i>Власник РВК “АртЛайт”</i>
                </div>
                <p>
                    Директор - (від лат. dirigo, фр. directeur
                    «спрямовую, керую») — посада, керівник
                    підприємства чи навчального закладу,
                    організації чи структурного підрозділу
                    (колективу).
                </p>
            </div>

            <div>
                <img src="./img/gallery/fotoportret1.png" alt="" width="140" height="140">
                <div class="caption">
                    <h3>Микола Шершун</h3>
                    <i>Власник РВК “АртЛайт”</i>
                </div>
                <p>
                    Директор - (від лат. dirigo, фр. directeur
                    «спрямовую, керую») — посада, керівник
                    підприємства чи навчального закладу,
                    організації чи структурного підрозділу
                    (колективу).
                </p>
            </div>
            <div>
                <img src="./img/gallery/fotoportret.png" alt="" width="140" height="140">
                <div class="caption">
                    <h3>Микола Шершун</h3>
                    <i>Власник РВК “АртЛайт”</i>
                </div>
                <p>
                    Директор - (від лат. dirigo, фр. directeur
                    «спрямовую, керую») — посада, керівник
                    підприємства чи навчального закладу,
                    організації чи структурного підрозділу
                    (колективу).
                </p>
            </div>

            <div>
                <img src="./img/gallery/fotoportret1.png" alt="" width="140" height="140">
                <div class="caption">
                    <h3>Микола Шершун</h3>
                    <i>Власник РВК “АртЛайт”</i>
                </div>
                <p>
                    Директор - (від лат. dirigo, фр. directeur
                    «спрямовую, керую») — посада, керівник
                    підприємства чи навчального закладу,
                    організації чи структурного підрозділу
                    (колективу).
                </p>
            </div>

        </div>
    </div>
</div>