.imgGallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .item{
    width: calc(25% - 7px);
    min-height: 180px;
    position: relative;
    margin-bottom: 14px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .overlay{
      position: absolute;
      display: flex;
      opacity: 0;
      height: 100%;
      width: 100%;
      top:0;
      left: 0;
      background-color: rgba(4,4,4, 0.7);
      flex-direction: column;
      justify-content: flex-end;
      padding: 12px;
      transition: 0.3s;
      &:before{
        content: '';
        display: block;
        width: 49px;
        height: 36px;
        background-image: url('../img/gallery/oko.png');
        position: absolute;
        top: -10px;;
        left: calc(50% - 25px);
        z-index: 10;
        transition: 0.3s;
      }
      p{
        margin: 0;
        color: white;
        font-size: 12px;
        font-weight: 300;
        text-align: left;
      }
    }
    &:hover{
      .overlay{
        opacity: 1;
        &:before{
          top: calc(50% - 18px);
        }
      }
    }
  }
}