.container{
  overflow-x: hidden;
}

.menukiller{
  display: none;
}
.menu_switch{
  //display: none;
  position: absolute;
  right: 20px;
  bottom: 18px;;
  z-index: 10000;
  label{
    display: flex;
    flex-direction: column;
    span{
      display: block;
      width: 24px;
      height: 4px;
      background-color: white;
      z-index: 10000;
      margin-bottom: 6px;
    }
  }
}

.location{
  display: none;
}

@media screen and (max-width: 900px) {
  header{
    position: relative;
    .container.r_top{
      padding: 0;
    }
    .container.r_top:nth-of-type(1){
      position: absolute;
      width: auto;
      right: 20px;
      top: 20px;;
      ul.cities{
        display: none;
      }
      .language{
        position: relative;
        right: auto;
        top:auto;
        font-size: 13px;
      }
    }
    .container.r_top:nth-of-type(2){
      flex-direction: column;
      justify-content: flex-start;

      &>div:nth-of-type(1){
        min-height: 100px;
        display: flex;
        align-items: center;
        img{
          padding-left: 20px;
        }
      }
      &>div:nth-of-type(2){
        background-color: black;
        color: white;
        min-height: 70px;
        padding-left: 20px;
      }
      .miniLogo{
        position: absolute;
        right: 20px;
        bottom: 80px;
      }
    }
    .col-6{
      width: 100%;
    }

    #menuKiller ~ .container-fluid{
      display: none;
    }
    #menuKiller:checked ~ .menu_switch{
      bottom: auto;
      top: 20px;
      position: fixed;
    }
    #menuKiller:checked ~ .container-fluid{
      display: flex;
      position: fixed;
      z-index:100;
      top:0;
      left: 0;
      .container{
        padding-right: 70px;
      }
      ul.menu{
        flex-wrap: wrap;
        li{
          padding: 5px 15px 5px 0;
          width: calc(100%);
          a{
            br{
              display: none;
            }
          }
          .submenu{
            position: inherit;
            top:0;
          }
        }
      }
    }
    .location{
      display: block;
      margin-right: 65px;
    }
  }
  .head_main .container{
    align-items: center;
  }
  .our_perv .items{
    flex-wrap: wrap;
    justify-content: center;
  }

  .skew_grey{
    .row{
      flex-direction: column;
    }
    .video{
      width: 100%;
    }
    .text{
      width: 100%;
      p{
        margin: 14px 0;
      }
    }
    .content .text{
      padding-left: 0px;
    }
  }
  .text-col-4{
    flex-direction: column;
    &>div{
      width: 100%;
    }
  }

  .carousel_{
    width: calc(100% - 170px);
    margin: auto;
  }
  .etaps .row{
    flex-direction: row;
  }

  .imgGallery{
    .item{
      width: calc(33% - 7px);
    }
  }

  .videoDesc{
    .row{
      flex-direction: column;
      .col-6{
        width: 100%;
      }
    }
    .row:nth-child(even){
      flex-direction: column;
    }
  }
  .textedItems{
    flex-wrap: wrap;
    justify-content: center;
    &>div{
      max-width: 200px;
    }
  }

  .news{
    flex-direction: column;
    .col-9{
      width: 100%;
      .item{
        display: none;
        &:nth-child(1), &:nth-child(2), &:nth-child(3){
          display: block;
        }
      }
    }
    .col-3{
      width: 100%;
    }
  }
  .response{
    .items .col-6{
      width: 100%;
    }
    .video{
      margin-bottom: 20px;
    }
    .info{

    }
  }

  .footer{
    .subscribe{
      display: block;
      text-align: center;
      padding: 12px 0;
      //flex-direction: column;
      span{
        display: block;
        text-align: center;
        margin-bottom: 10px;
      }
      button, input{
        display: inline-block;
        margin: 0 5px;
      }
      button{
        margin-top: 10px;
      }
    }
  }
  footer{
    flex-direction: column;
    .container{
      flex-direction: column;
      .row{
        flex-direction: column;
      }
      .addr{
        margin-top: 20px;
      }
      .phones.row{
        flex-direction: row;
        margin: 15px 0;
      }
      .bottom{
        margin-top: 15px;
        flex-direction: column-reverse;
        text-align: center!important;
        .row{
          br{
            display: none;
          }
          .icons{
            margin: 10px 0 30px;
          }
        }
      }
    }
  }

//
  .sidebar{
    display: none;
  }
  .content{
    margin-left: 0;
  }
  .calc{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
  .price-calc{
    margin: 10px 0;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .advantage{
    ul{
      flex-direction: column;
      li{
        margin: 5px 0;
        br{
          display: none;
        }
      }
    }
    &>div{
      flex-direction: column;
      div{
        width: 100%;
        margin-bottom: 5px;
      }
    }
  }
  .order>div{
    flex-direction: column;
    .col-6{
      width: 100%;
    }
  }
  .response{
    .row{
      flex-direction: column;
    }
  }
  .response .items .row:nth-child(even){
    flex-direction: column;
  }
  .response .items .row:nth-child(even) .info{
    padding-right: 0;
    padding-left: 30px;
  }
  .rait{
    padding: 10px;
    flex-direction: column;
    .col-5, .col-7{
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .head_main .title {
    font-size: 13vw;
    line-height: 12vw;
    b {
      font-size: 18vw;
      line-height: 15vw;
    }
    &~p{
      font-size: 7vw;
    }
  }
  .order>div{
    flex-direction: column;
    .col-6{
      width: 100%;
    }
  }
  .number-list{
    margin-left: 50px;
    padding-left: 30px;
    & li:before {
      left: -65px;
    }
  }

  .etaps .row:nth-child(odd)>div:not(.empty) p{
    margin-right: 40px;
    text-align: left;
  }
  .etaps .row:nth-child(even)>div:not(.empty) p{
    margin-left: 40px;
    text-align: left;
  }
  .etaps .row>div p{
    margin: 0;
    min-width: 0;
    br{
      display: none;
    }
  }
  .etaps .row:nth-child(odd):after{
    width: 40px;
  }
  .etaps .row:nth-child(even):after{
    width: 40px;
  }
  .etaps .row .empty{
    min-height: 60px;
  }

  .imgGallery{
    .item{
      width: 100%;
    }
  }
  .news{
    .item{
      width: 100%;
    }
  }

  .response .items .info{
    img{
      margin-bottom: 10px;
    }
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .response .items .info>div>div:after{
    left: calc(50% - 21px);
  }
  .response .items .row:nth-child(odd) .info{
    padding-left: 0;
  }

//
  .our_perv .items>div{
    margin: 8px;
  }
  .head_main .btn{
    margin-left: 0;
  }
  .our_perv .items{
    justify-content: space-around;
  }
  .content .stringItems>img{
    align-self: baseline;
  }
  .content .stringItems>img{
    max-width: 100px;
    margin: 0;
  }
  .content .stringItems>div>div{
    padding: 0;
  }
  .content .stringItems .deviceName{
    font-size: 2.2vw;
  }
  .content .stringItems img{
    margin: 0;
  }
  .enums{
    flex-direction: column;
  }
  .price-calc>div{
    //flex-direction: column;
    //justify-content: flex-start;
    //align-items: flex-start;
    //text-align: left;
    display: block;
    b{
      display: block;
    }
  }
  .price-calc label{
    top: 6px;
  }
  ul.facts{
    flex-wrap: wrap;
  }
  .response .items .info img{
    margin-right: 0;
  }
  .response .items .row:nth-child(even) .info{
    padding-left: 0;
  }
  .rait .field{
    flex-direction: column;
  }
  .specificsList{
    flex-direction: column;
    padding-left: 33%;
  }
  ul.navigation{
    display: none;
  }
  .way{
    padding-left: 20px;
  }
  .models .item{
    flex-direction: column;
    .space-between{
      flex-direction: column;
      .col-6{
        width: 100%;
      }
    }
  }
  .rait .column .row{
    display: block;
    span{
      display: block;
    }
    label{
      top: 6px;
    }
  }
  .videoDesc p{
    margin: 0;
  }
  .footer .subscribe button{
    font-size: 2.2vw;
  }

  .footer .subscribe input{
    max-width: 100%;
    width: 90%;
  }
}

@media screen and (max-width: 450px) {
  header .container.r_top:nth-of-type(2) .miniLogo{
    bottom: 95px;
    img{
      width: 65px;
    }
  }
  header .container.r_top:nth-of-type(2)>div:nth-of-type(1) img{
    width: 55%;
  }
  .head_main .container{
    padding: 35px 0;
  }
  .head_main .our_perv{
    padding-top: 10px;
  }
  .head_main{
    min-height: 620px;
  }
  .our_perv .items{
    width: 100%;
  }
  .content .stringItems>div>div{
    img{
      max-width: 75px;
    }
  }
  .clientsGalleryList .item{
    width: calc(50% - 10px);
  }
  .three-col .imgGallery .item{
    width: 100%;
  }
  //.navigation{
  //  display: none;
  //}

}