@import "ProximaNova/stylesheet.css";

* {
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  margin: auto;
}

.container{
  max-width: 1045px;
  margin: auto;
  width: 100%;
  padding:0 10px;
  position: relative;
}

.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

.space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-align{
  align-items: flex-start;
}

.col-6{
  width: 50%;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33%;
}
.col-5{
  width: 41.6%;
}
.col-7{
  width: 58.3%;
}
.col-9{
  width: 75%;
}

.black{
  background-color: black;
  color: white;
  fill: black;
}
.white{
  color: white;;
  fill: #f9e9d8;
}
.orange{
  fill:#EF7F1A;
}
.darkness{
  fill: #493723;
  color: #493723;
}
body {
  font-family: "Proxima Nova Rg";
  margin: 0;
  padding: 0;
  color: #141515;
}

header{
  ul.cities{
    margin: 12px 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    position: relative;
    list-style: none;
    li{
      padding: 0 10px;
      display: inline-block;
      a{
        color: #8b8c8c;
        font-size: 11px;
        text-decoration: none;
      }
      &.active, &:hover{
        a{
          color: #f17e00;
        }
      }
    }
  }
  .language{
    position: absolute;
    right: 10px;
    top: 5px;;
    font-size: 11px;
    font-weight: 400;
    a{
      color: #141515;
    }
    a.active {
      color: #f17e00;
    }
  }
  .phones{
    display: flex;
    align-items: center;
    img{
      width: 38px;
      height: 38px;
      margin-right: 14px;
    }
    &>div{
      display: flex;
      flex-direction: column;
    }
  }

  .menu{
    display: flex;
    padding: 0;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0px;
    li{
      display: block;
      padding: 18px 0 19px 0;
      position: relative;
      padding-right: 17px;
      &:after{
        content: '';
        display: block;
        background-image: url("../img/arr_down.png");
        width: 7px;
        height: 3px;
        position: absolute;
        right: 0;
        top: 27px;
      }

      a{
        text-decoration: none;
        font-weight: 300;
        font-size: 14px;
        color: white;
        transition: 0.2s;
      }
      &.active, &:hover{
        &:after{
          background-image: url("../img/arr_down_active.png");
        }
        a{
          color: #f17e00;
        }
      }
      .submenu{
        display: none;
        position: absolute;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 14px 28px;
        background-color: rgba(20,20,20,0.85);
        width: 522px;
        top: 75px;
        z-index: 1000;
        li{
          display: block;
          width: calc(50% - 4px);
          margin: 0;
          padding: 4px 0;
          transition: 0.2s;
          &:after{
            display: none;
          }
          &:hover{
            a{
              color: #ef7f1a;
              padding-left: 5px;
            }
          }
          a{
            font-size: 13px;
            color: white;
          }
        }
      }
      &.right-align{
        .submenu {
          right: 0px;
        }
      }
      &:hover{
        .submenu{
          display: flex;
        }
      }
    }
  }
}

ul.navigation{
  list-style: none;
  display: block;
  padding: 0;
  margin: 25px 0;
  li{
    display: inline-block;
    a{
      color: #8b8c8c;
      text-decoration: none;
      font-weight: 300;
      font-size: 11px;
    }
    &.active, &:hover{
      a{
        color: #f17e00;
      }
    }
  }
}

.sidebar{
  width: 245px;
  min-width: 245px;
  position: relative;
  z-index: 1;
  margin-top: 15px;

  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 390px;
    background-color: #f17e00;
    z-index: -1;
    -moz-transform: skew(0deg, 7deg);
    -webkit-transform: skew(0deg, 7deg);
    -o-transform: skew(0deg, 7deg);
    -ms-transform: skew(0deg, 7deg);
    transform: skew(0deg, 7deg);
  }

  .title{
    padding: 25px 40px 0 40px;
    display: flex;
    align-items: center;
    img{
      width: 23px;
      height: 12px;
      margin-right: 18px;
    }
    a{
      display: block;
      text-decoration: none;
      color: #141515;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  ul.sidebarMenu{
    display: block;
    padding: 0 40px;
    list-style: none;
    li{
      display: block;
      line-height: 15px;
      padding: 12px 0;
      a{
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 300;
        color: white;
      }
      &.active{
        & > a{
          color: #141515;
        }
      }
      ul{
        display: block;
        padding-left: 10px;
        padding-top: 10px;
        li{
          padding: 4px 0;
          a{
            font-size: 12px;
            line-height: 15px;
          }
        }
      }
    }
  }
}

.main{
  width: 100%;
  &> p:first-letter{
    padding-left: 10px;
  }
}
.content{
  margin-left: 14px;
  h2{
    font-family: "Proxima Nova Cn Rg";
    letter-spacing: 1.02px;
    font-weight: 700;
    color: #141515;
    text-transform: uppercase;
    text-align: center;
    position: relative;

    &:after{
      content: '';
      display: block;
      bottom: -20px;
      left: calc(50% - 62px);
      position: absolute;
      width: 124px;
      height: 2px;
      background-color: #f17e00;
      margin: auto;
    }
  }
  .stringItems{
    margin-top: 38px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    img{
      margin: 10px 10px;
    }
    &>img{
      max-width: 158px;
    }
    &>div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      &>img{
        align-self: center;
      }
      &>div{
        padding: 0 30px;
      }
    }
    .deviceName{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      font-size: 15px;
      color: #141515;
    }
  }
}

p{
  font-size: 15px;
  font-weight: 300;
  color: #141515;
  text-align: justify;
  &.active{
    color: #f17e00;
  }
}

h3{
  margin-top: 36px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Proxima Nova Cn Rg";
  font-weight: 700;
  font-size: 16px;
  color: #141515;
  text-transform: uppercase;

  &.active{
    color: #f17e00;
  }
}

.enums{
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  font-weight: 300;
  color: #141515;

  &>div{
    display: flex;
    align-items: center;
    &>div:first-child{
      font-weight: 700;
      font-size: 45px;
      color: #f17e00;
      padding-right: 10px;
    }
  }
}

.superiority{
  text-align: justify;
  font-size: 15px;
  span{
    color: #f17e00;
    text-transform: uppercase;
  }
}

.calc{
  display: flex;
  justify-content: space-between;
  align-items: center;
  span, select{
    font-size: 14px;
    color: #141515;
  }
}

.price-calc{
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  b{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  span{
    font-size: 14px;
    padding-left: 12px;
  }
  label{
    border: 1px solid #b7b7b7;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-left: 4px;
  }
  input{
    display: inline-block;
    width: 1px;
    height: 1px;
    position: fixed;
    top:-10px;
    left: -10px;
    opacity: 0;
  }
  input:checked + label:after{
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f17e00;
    top:5px;
    left: 5px;
    border-radius: 50%;
  }
  &>div{
    display: flex;
    align-items: center;
  }
  .res{
    font-size: 18px;
    span{
      color: #f17e00;
      font-size: 22px;
      font-weight: 600;
      padding: 0 14px;
    }
  }
}

.advantage{
  font-size: 15px;
  ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    li{
      display: block;
    }
  }
  &>div{
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    div{
      width: calc(33% - 6px);
      height: 172px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

ul.facts{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  font-size: 15px;
  li{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    span{
      display: block;
      font-family: "Proxima Nova Cn Rg";
      color: #f17e00;
      font-size: 45px;
      font-weight: 700;
    }
  }
}

.order{
  border: 5px solid #f1f1f1;
  padding: 30px;
  display: flex;
  flex-direction: column;

  .col-6{
    width: calc(50% - 6px);
  }

  span{
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 23px;
  }
  label{
    min-width: 100px;
    font-size: 14px;
    color: #141515;
    display: inline-block;
  }
  i{
    color: #141515;
    font-size: 10px;
  }
  fieldset{
    margin: 10px 0;
    padding: 0;
    border: 0;
    &>div{
      display: flex;
      &>div{
        display: flex;
        span{
          display: flex;
          background-color: #b7b7b7;
          justify-content: center;
          align-items: center;
          color: #141515;
          margin-bottom: 0;
          width: 98px;
          height: 25px;
          font-size: 14px;
        }
        input{
          max-width: 87px;
          margin-left: 10px;
        }
      }
    }
  }
  input[type=text]{
    height: 25px;
    width: 100%;
    min-width: auto;
  }
  textarea{
    height: 95px;
  }
  input, textarea{
    border: 1px solid #b7b7b7;
    resize: none;
    width: 100%;
  }
  &>div{
    display: flex;
    justify-content: space-between;
  }
  button{
    display: block;
    border: 0;
    background-color: #f17e00;
    font-size: 12px;
    color: white;
    padding: 7px 33px;
  }
}

.asking{
  margin: 100px 0;
  position: relative;
  z-index: 1;
  padding: 100px 0 170px;

  &:after{
    z-index: -1;
    content: '';
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f17e00;
    -moz-transform: skew(0deg, 7deg);
    -webkit-transform: skew(0deg, 7deg);
    -o-transform: skew(0deg, 7deg);
    -ms-transform: skew(0deg, 7deg);
    transform: skew(0deg, 7deg);
  }

  h2{
    font-family: 'Proxima Nova Cn Rg';
    text-transform: uppercase;
    color: #141515;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.02px;
    text-align: center;
    position: relative;

    &:after{
      content: '';
      display: block;
      width: 124px;
      height: 2px;
      background-color: white;
      bottom: -20px;
      left: calc(50% - 62px);
      position: absolute;
    }
  }
  ul.questions{
    max-width: 910px;
    margin: auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    li{
      border-bottom: 1px solid white;

      h3{
        margin: 22px 0;
        padding-left: 24px;
        text-align: left;
        color: white;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400;
        position: relative;

        &:after{
          content: '';
          position: absolute;
          right: 25px;
          top: 7px;
          width: 7px;
          height: 3px;
          background-image: url('../img/arr_down.png');
        }
      }
      p{
        font-size: 12px;
        font-weight: 400;
        color: #ffffff;
        display: none;
      }
      &.active{
        padding-bottom: 24px;
        p{
          display: block;
        }
      }
    }
  }
}

.response{
  h2{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.02px;
    text-align: center;
    position: relative;

    &:after{
      position: absolute;
      content: '';
      display: block;
      width: 124px;
      height: 2px;
      background-color: #f17e00;
      bottom: -18px;
      left: calc(50% - 62px);
    }
  }
  .items{
    margin-top: 60px;
    .row:nth-child(even){
      flex-direction: row-reverse;
      .info{
        padding-right: 25px;
      }
    }
    .row:nth-child(odd){
      .info{
        padding-left: 30px;
      }
    }
    .row{
      justify-content: space-between;
      margin-bottom: 45px;
    }
    .col-6{
      width: calc(50% - 10px);
    }
    .video{
      border: 8px solid #d1d1d1;;
      img, iframe{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .info{
      display: flex;
      img{
        width: 140px;
        min-width: 140px;
        display: block;
        border-radius: 50%;

        height: 140px;
        margin-right: 30px;
      }
      &>div{
        p{
          font-size: 13px;
          color: #000000;
          text-align: left;
        }
        &>div{
          position: relative;
          margin-bottom: 40px;
          &:after{
            content: '';
            position: absolute;
            bottom: -25px;
            display: block;
            width: 42px;
            left: calc(40% - 21px);
            height:2px;
            background-color: #141515;
          }
          h4{
            color: #f17e00;
            font-size: 14px;
            text-transform: uppercase;
            margin: 0;
          }
          i{
            color: #141515;
            font-size: 10px;
          }
        }
      }
    }
  }
}

.rait{
  border: 5px solid #f1f1f1;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  .col-7{
    width: calc(58% - 15px);
    justify-content: flex-end;
    .row{
      justify-content: flex-end;
    }
    .field{
      label{
        text-align: right;
      }
    }
  }
  h3{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #f17e00;
    text-align: left;
  }
  textarea{
    width: 100%;
    height: 95px;
    resize: none;
    border: 1px solid #b7b7b7;
  }
  .column{
    .field{
      margin-bottom: 0;
    }
    .row{
      align-items: center;
      font-size: 14px;
      font-weight: 300;
      span{
        padding: 0 5px;
      }
      input{
        outline: none;
        width: 1px;
        height: 1px;
        opacity: 0;
        position: fixed;
        left: -100px;
        top: -100px;
      }
      input:checked + label:after{
        content: '';
        position: absolute;
        display: block;
        border-radius: 50%;
        width: 5px;
        height: 5px;
        background-color: #f17e00;
        top: 4px;
        left: 4px;
      }
      label{
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 1px solid #b7b7b7;
        position: relative;
        border-radius: 50%;
        margin: 3px;
      }
    }
  }
  .field{
    margin: 10px 0;
    display: flex;
    input{
      width: 100%;
      border: 1px solid #b7b7b7;
      height: 25px;
      background-color: #ffffff;
    }
    label{
      padding-right: 10px;
      font-size: 14px;
      font-weight: 300;
      color: #141515;
      display: block;
      min-width: 105px;
      &:first-letter{
        color: #f17e00;
      }
    }
    i{
      font-size: 10px;
      font-weight: 400;
      &:first-letter{
        color: #f17e00;
      }
    }
    &>div{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &>div{
        display: flex;
      }
      span{
        display: flex;
        background-color: #b7b7b7;
        height: 25px;
        width: 87px;
        font-size: 14px;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
      input{
        width: 87px;
        margin: 0 15px;
      }
    }
  }
  button{
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    background-color: #f17e00;
    display: block;
    border: 0;
    padding: 8px 30px;
  }
}

h2.active{
  font-family: 'Proxima Nova Cn Rg';
  text-transform: uppercase;
  color: #141515;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.02px;
  text-align: center;
  position: relative;
  margin: 60px 0 44px;

  &:after{
    content: '';
    display: block;
    width: 124px;
    height: 2px;
    background-color: #f17e00;
    bottom: -20px;
    left: calc(50% - 62px);
    position: absolute;
  }
}

.our_perv{
  .items{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &>div{
      margin: 20px;
      text-align: center;
      img{

      }
      p{
        margin-top: 30px;
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
      }
    }
  }
  .center{
    margin-top: 20px;
    margin-bottom: 20px;
  }
}


.textedItems{
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  &>div{
    margin: 20px;
    text-align: center;
    img{

    }
    p{
      margin-top: 30px;
      font-size: 13px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 300;
    }
  }
}
.center{
  margin-top: 20px;
  margin-bottom: 20px;
}

.clients{
  &>div{
    display: flex;
  }
  .prev, .next{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
  }
  .carousel{
    overflow-x: hidden;
  }
  padding-bottom: 40px;
}

.footer{
  .map{
    height: 500px;
    background-image: url('../img/map.jpg');
    background-size: cover;
    background-position: center center;
  }
  .subscribe{
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f17e00;
    span{
      font-size: 14px;
      font-weight: 400;
      color: #ffffff;
    }
    input{
      max-width: 400px;
      width: 100%;
      background-color: #ffffff;
      border: 0;
      height: 33px;
      color: #c8c6c6;
      padding: 12px 20px;
      margin: 0 40px;
    }
    button{
      background-color: #141515;
      padding: 11px 14px;
      color: #ffffff;
      font-size: 12px;
      font-weight: 300;
      display: block;
      border: 0;
    }
  }
  footer{
    background-color: #141515;
    color: white;
    padding: 40px 0;
    font-size: 12px;

    p{
      color: white;
      margin: 5px 0;
      font-size: 12px;
    }
    .row{
      align-items: center;
      justify-content: space-between;
    }

    .phones{
      font-size: 22px;
      img{
        margin-right: 14px;
      }
    }
    .addr{
      width: 66%;
    }
    .bottom{
      margin-top: 45px;
    }
  }
}

.icons{
  display: flex;
  align-items: center;
  margin-left: 8px;
  a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #898989;
    transition: 0.2s;
    margin: 0 5px;
    i{
      color: black;
      font-size: 16px;
    }
    &:hover{
      background-color: #3a497c;
    }
  }
}

.center{
  display: flex;
  justify-content:center;
  align-items: center;
}

a.show{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f17e00;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid #f17e00;
  padding: 16px 31px;
  text-transform: uppercase;
  transition: 0.2s;
  &:hover{
    background-color: #f17e00;
    color: white;
  }
}



@import "head_main";

.skew{
  position: relative;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 50px;
  &:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    -moz-transform: skew(0deg, 7deg);
    -webkit-transform: skew(0deg, 7deg);
    -o-transform: skew(0deg, 7deg);
    -ms-transform: skew(0deg, 7deg);
    transform: skew(0deg, 7deg);
    background-color: #f17e00;
  }
  a.show{
    color: #ffffff;
    border: 1px solid white;
    transition: 0.2s;
    &:hover{
      cursor: pointer;
      background-color: white;
      color: black;
    }
  }
  .our_perv{
    h2.active{
      color: white;
      &:after{
        background-color: #141515;
      }
    }
    p{
      color: white;
    }
    p.active{
      color: #141515;
    }
  }
}

.pre_order{
  text-align: center;
  h4{
    margin-bottom: 0;
    margin-top: 50px;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
  }
  p{
    display: inline-block;
    margin-bottom: 25px;
  }
  p:before{
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 2px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #141515;
  }
}

.skew_grey {
  position: relative;
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    -moz-transform: skew(0deg, 7deg);
    -webkit-transform: skew(0deg, 7deg);
    -o-transform: skew(0deg, 7deg);
    -ms-transform: skew(0deg, 7deg);
    transform: skew(0deg, 7deg);
    background-color: #f1f1f1;
  }
  .content{
    width: 90%;
    margin: auto;
    .row{
      margin-top: 60px;
    }
    .video{
      img{
        width: calc(100% - 20px);
        height: 100%;
        object-fit: cover;
        border: 8px solid #dfdfdf;;
      }
    }
    .text{
      padding-left: 57px;
      p{
        margin: 20px 0;
      }
    }
  }
}

.text-col-4{
  text-align: justify;
  justify-content: space-between;
  &>div{
    width: calc(25% - 12px);
  }
}

.carousel_{
  position: relative;
  .contents{
    margin-top: 64px;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    img{
      width: calc(25% - 10px);
    }
  }
  .prev{
    position: absolute;
    left: -70px;
    top: calc(50% - 20px);
  }
  .next{
    position: absolute;
    right: -70px;
    top: calc(50% - 20px);
  }
}

.number-list{
  list-style: none;
  counter-reset: badass-counter;
  margin-top: 60px;
  li{
    display: block;
    max-width: 620px;
    margin: auto;
    position: relative;
    min-height: 40px;
    p{
      margin: 24px 0;
    }
  }
  li:before{
    content: counter(badass-counter, decimal-leading-zero);
    counter-increment: badass-counter;
    font-size: 39px;
    font-weight: 400;
    color: #f17e00;
    font-family: "Proxima Nova Th";
    position: absolute;
    line-height: 39px;
    left: -80px;
    top:0;
  }
}

.etaps{
  counter-reset: bad-counter;
  .row {
    .empty {
      min-height: 75px;
    }
    & > div {
      width: 50%;
      p {
        display: inline-block;
        min-width: 260px;
      }
    }
    &:nth-child(odd) {
      text-align: right;
      position: relative;
      & > div {
        width: calc(50% + 2px);
        justify-content: flex-end;
        display: flex;
        align-items: center;
      }
      .empty {
        width: calc(50% - 2px);
      }
      &:before {
        position: absolute;
        content: counter(bad-counter, decimal-leading-zero);
        counter-increment: bad-counter;
        right: calc(50% - 24px);
        top: calc(50% - 22px);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid #f17e00;
        width: 44px;
        height: 44px;
        font-size: 22px;
        font-weight: 500;
        font-family: "Proxima Nova Rg";
        background-color: white;
        color: #141515;
        z-index: 20;
      }
      &:after{
        z-index: 1;
        content: "";
        position: absolute;
        width: 70px;
        height: 2px;
        background-color: #f17e00;
        top: 50%;
        right: 50%;
      }
    }
    &:nth-child(even) {
      text-align: left;
      position: relative;
      & > div {
        display: flex;
        align-items: center;
      }
      &:before {
        position: absolute;
        content: counter(bad-counter, decimal-leading-zero);
        counter-increment: bad-counter;
        left: calc(50% - 24px);
        top: calc(50% - 22px);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid #f17e00;
        width: 44px;
        height: 44px;
        font-size: 22px;
        font-weight: 500;
        font-family: "Proxima Nova Rg";
        background-color: white;
        color: #141515;
        z-index: 20;
      }
      &:after{
        z-index: 1;
        content: "";
        position: absolute;
        width: 70px;
        height: 2px;
        background-color: #f17e00;
        top: 50%;
        left: 50%;
      }
    }
    &:first-child {
      &:before {
        top: calc(50% - 15px);
      }
      &:after{
        top: calc(50% + 6px);
      }
      & > div {
        padding-top: 20px;
      }
    }
    &:last-child {
      &:before {
        top: calc(50% - 35px);
      }
      &:after{
        top: calc(50% - 13px);
      }
      & > div {
      }
      padding-bottom: 20px;
    }
  }
  .row:nth-child(odd) {
    &>div:not(.empty){
      border-right: 2px solid #f17e00;
      p{
        margin-right: 100px;
      }
    }
  }
  .row:nth-child(even) {
    &>div:not(.empty){
      border-left: 2px solid #f17e00;
      p{
        margin-left: 100px;
      }
    }
  }
}

@import "gallery";

.videoDesc{
  padding-top: 5px;
  .row:nth-child(even){
    flex-direction: row-reverse;
  }
  .row{
    justify-content: space-between;
    margin: 20px 0;
  }
  .col-6{
    width: calc(50% - 10px);
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 8px solid #f1f1f1;;
    }
  }
  h3{
    color: #f17e00;
    font-size: 14px;
    text-align: left;
    margin-left: 60px;
  }
  p{
    &:first-letter{
      padding-left: 10px;
    }
    margin: 0 40px;
    text-align: inherit;
  }
  a.show{
    display: inline-flex;
    margin-left: 60px;
    margin-top: 20px;
    padding: 10px 30px;
  }
}

.textedItems{
  .caption{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      bottom: -13px;
      left: calc(50% - 21px);
      width: 42px;
      height: 2px;
      background-color: #141515;
      display: block;
    }
    h3{
      font-size: 14px;
      margin-top: 28px;
      margin-bottom: 0px;
    }
    i{
      font-size: 10px;
      color: #ffffff;
    }
  }
  &>div p{
    font-size: 12px;
    text-transform: none;
  }
  &.upper {
    &>div p {
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}

.news{
  .col-9{
    display: flex;
    flex-wrap: wrap;
  }
  .item{
    width: calc(33% - 15px);
    margin-bottom: 12px;
    margin-right: 13px;
    img{
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }
  h3{
    margin-top: 0;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0.16px;
    font-weight: 700;
  }
  h4.active{
    color: #f17e00;
    font-size: 14px;
    margin-top: 11px;
    margin-bottom: 20px;
  }
  p{
    font-size: 12px;
    color: #141515;
  }
}

.clientsGalleryList{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  .item{
    width: calc(33% - 10px);
    max-width: 210px;
    margin: 16px 0;
    img{
      width: 100%;
    }
  }
}

.specificsList{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  counter-reset: num-counter;
  li{
    display: flex;
    align-items: center;
    //margin: 4px;
    position: relative;
    font-size: 15px;
    letter-spacing: -0.4px;
    //padding-left: 40px;
    &:before{
      //position: absolute;
      content: counter(num-counter, decimal);
      counter-increment: num-counter;
      font-size: 45px;
      font-weight: 700;
      text-transform: uppercase;
      color: #f17e00;
      line-height: 45px;
      left: 0;
      top: calc(50% - 22px);
      text-align: right;
      padding-right: 10px;
      //min-width: 27px;
    }
  }
}

.three-col{
  margin-top: 60px;
  .imgGallery .item{
    width: calc(33% - 7px);
  }
}
.paginator{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: baseline;
  list-style: none;
  padding: 0;
  li{
    display: block;
    min-width: 16px;
    text-align: center;
    a{
      font-size: 12px;
      color: #f17e00;
      text-decoration: none;
      font-weight: 600;
    }
  }
  li:hover, li.current{
    a{
      font-size: 16px;
      color: #141515;
      text-decoration: underline;
    }
  }
}

.imageInText{
  width: 90%;
  display: block;
  margin: auto;
}

.way{
  display: block;
  max-width: 600px;
  margin: auto;
  p{
    text-transform: uppercase;
  }
  ul{
    list-style: none;
    padding-left: 10px;
    li{
      position: relative;
      &:before{
        position: absolute;
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        left: -20px;
        top: calc(50% - 3px);
        background-color: #f17e00;
        border-radius: 50%;
      }
      a{
        color: #141515;
        font-size: 14px;
        line-height: 20px;
        text-decoration: none;
        &:hover{
          color: #f17e00;
          text-decoration: underline;
        }
      }
      &.active a{
        color: #f17e00;
        text-decoration: underline;
      }
    }
  }
}

.models{
  .item{
    margin: 15px 0;
  }

  .image{
    min-width: 240px;
    width: 100%;
    img{
      width: 100%;
    }
  }
  h3.active{
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 20px;
  }
  .col-6{
    width: calc(50% - 5px);
  }
  p{
    font-size: 14px;
    b{
      font-size: 15px;
    }
  }
  .price{
    p{
      margin: 10px 0;
    }
    span{
      font-size: 18px;
      color: #f17e00;
      b{
        font-family: "Proxima Nova Bl";
        letter-spacing: 0.5px;
        font-size: 18px;
      }
    }
  }
  i.active{
    font-size: 14px;
    color: #f17e00;
  }
}

h2.activeInvert{
  color: #141515 !important;
  &:after{
    background-color: white !important;
  }
}

@import "responsive";

