@import "ProximaNova/stylesheet.css";

* {
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  margin: auto;
}

.container{
  max-width: 1045px;
  margin: auto;
  width: 100%;
  padding:0 10px;
  position: relative;
}

.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

.space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-align{
  align-items: flex-start;
}

.col-6{
  width: 50%;
}

.col-5{
  width: 41.6%;
}
.col-7{
  width: 58.3%;
}

.black{
  background-color: black;
  color: white;
}

body {
  font-family: "Proxima Nova Rg";
  margin: 0;
  padding: 0;
  color: #141515;
}

header{
  ul.cities{
    margin: 12px 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    position: relative;
    list-style: none;
    li{
      padding: 0 10px;
      display: inline-block;
      a{
        color: #8b8c8c;
        font-size: 11px;
        text-decoration: none;
      }
      &.active, &:hover{
        a{
          color: #f17e00;
        }
      }
    }
  }
  .language{
    position: absolute;
    right: 10px;
    top: 5px;;
    font-size: 11px;
    font-weight: 400;
    a{
      color: #141515;
    }
    a.active {
      color: #f17e00;
    }
  }
  .phones{
    display: flex;
    align-items: center;
    img{
      width: 38px;
      height: 38px;
      margin-right: 14px;
    }
    &>div{
      display: flex;
      flex-direction: column;
    }
  }

  .menu{
    display: flex;
    padding: 0;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    li{
      display: block;
      margin: 18px 0 19px 0;
      position: relative;
      padding-right: 17px;
      &:after{
        content: '';
        display: block;
        background-image: url("../img/arr_down.png");
        width: 7px;
        height: 3px;
        position: absolute;
        right: 0;
        top: 9px;
      }
      a{
        text-decoration: none;
        font-weight: 300;
        font-size: 14px;
        color: white;
        transition: 0.2s;
      }
      &.active, &:hover{
        &:after{
          background-image: url("../img/arr_down_active.png");
        }
        a{
          color: #f17e00;
        }
      }
    }
  }
}

ul.navigation{
  list-style: none;
  display: block;
  padding: 0;
  margin: 25px 0;
  li{
    display: inline-block;
    a{
      color: #8b8c8c;
      text-decoration: none;
      font-weight: 300;
      font-size: 11px;
    }
    &.active, &:hover{
      a{
        color: #f17e00;
      }
    }
  }
}

.sidebar{
  width: 245px;
  min-width: 245px;
  position: relative;
  z-index: 1;
  margin-top: 15px;

  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 390px;
    background-color: #f17e00;
    z-index: -1;
    -moz-transform: skew(0deg, 7deg);
    -webkit-transform: skew(0deg, 7deg);
    -o-transform: skew(0deg, 7deg);
    -ms-transform: skew(0deg, 7deg);
    transform: skew(0deg, 7deg);
  }

  .title{
    padding: 25px 40px 0 40px;
    display: flex;
    align-items: center;
    img{
      width: 23px;
      height: 12px;
      margin-right: 18px;
    }
    a{
      display: block;
      text-decoration: none;
      color: #141515;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  ul.sidebarMenu{
    display: block;
    padding: 0 40px;
    list-style: none;
    li{
      display: block;
      line-height: 15px;
      padding: 12px 0;
      a{
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 300;
        color: white;
      }
      &.active{
        a{
          color: #141515;
        }
      }
    }
  }
}

.main{

}
.content{
  margin-left: 14px;
  h2{
    font-family: "Proxima Nova Cn Rg";
    letter-spacing: 1.02px;
    font-weight: 700;
    color: #141515;
    text-transform: uppercase;
    text-align: center;
    position: relative;

    &:after{
      content: '';
      display: block;
      bottom: -20px;
      left: calc(50% - 62px);
      position: absolute;
      width: 124px;
      height: 2px;
      background-color: #f17e00;
      margin: auto;
    }
  }
  .stringItems{
    margin-top: 38px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    img{
      margin: 10px 10px;
    }
    &>img{
      max-width: 158px;
    }
    &>div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      &>img{
        align-self: center;
      }
      &>div{
        padding: 0 30px;
      }
    }
    .deviceName{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      font-size: 15px;
      color: #141515;
    }
  }
}

p{
  font-size: 15px;
  font-weight: 300;
  color: #141515;
  text-align: justify;
  &.active{
    color: #f17e00;
  }
}

h3{
  margin-top: 36px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Proxima Nova Cn Rg";
  font-weight: 700;
  font-size: 16px;
  color: #141515;
  text-transform: uppercase;

  &.active{
    color: #f17e00;
  }
}

.enums{
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  font-weight: 300;
  color: #141515;

  &>div{
    display: flex;
    align-items: center;
    &>div:first-child{
      font-weight: 700;
      font-size: 45px;
      color: #f17e00;
      padding-right: 10px;
    }
  }
}

.superiority{
  text-align: justify;
  font-size: 15px;
  span{
    color: #f17e00;
    text-transform: uppercase;
  }
}

.calc{
  display: flex;
  justify-content: space-between;
  align-items: center;
  span, select{
    font-size: 14px;
    color: #141515;
  }
}

.price-calc{
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  b{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  span{
    font-size: 14px;
    padding-left: 12px;
  }
  label{
    border: 1px solid #b7b7b7;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-left: 4px;
  }
  input{
    display: inline-block;
    width: 1px;
    height: 1px;
    position: fixed;
    top:-10px;
    left: -10px;
    opacity: 0;
  }
  input:checked + label:after{
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f17e00;
    top:5px;
    left: 5px;
    border-radius: 50%;
  }
  &>div{
    display: flex;
    align-items: center;
  }
  .res{
    font-size: 18px;
    span{
      color: #f17e00;
      font-size: 22px;
      font-weight: 600;
      padding: 0 14px;
    }
  }
}

.advantage{
  font-size: 15px;
  ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    li{
      display: block;
    }
  }
  &>div{
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    div{
      width: calc(33% - 6px);
      height: 172px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

ul.facts{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  font-size: 15px;
  li{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    span{
      display: block;
      font-family: "Proxima Nova Cn Rg";
      color: #f17e00;
      font-size: 45px;
      font-weight: 700;
    }
  }
}

.order{
  border: 5px solid #f1f1f1;
  padding: 30px;
  display: flex;
  flex-direction: column;

  .col-6{
    width: calc(50% - 6px);
  }

  span{
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 23px;
  }
  label{
    min-width: 100px;
    font-size: 14px;
    color: #141515;
    display: inline-block;
  }
  i{
    color: #141515;
    font-size: 10px;
  }
  fieldset{
    margin: 10px 0;
    padding: 0;
    border: 0;
    &>div{
      display: flex;
      &>div{
        display: flex;
        span{
          display: flex;
          background-color: #b7b7b7;
          justify-content: center;
          align-items: center;
          color: #141515;
          margin-bottom: 0;
          width: 98px;
          height: 25px;
          font-size: 14px;
        }
        input{
          max-width: 87px;
          margin-left: 10px;
        }
      }
    }
  }
  input[type=text]{
    height: 25px;
    width: 100%;
    min-width: auto;
  }
  textarea{
    height: 95px;
  }
  input, textarea{
    border: 1px solid #b7b7b7;
    resize: none;
    width: 100%;
  }
  &>div{
    display: flex;
    justify-content: space-between;
  }
  button{
    display: block;
    border: 0;
    background-color: #f17e00;
    font-size: 12px;
    color: white;
    padding: 7px 33px;
  }
}

.asking{
  margin: 100px 0;
  position: relative;
  z-index: 1;
  padding: 100px 0 170px;

  &:after{
    z-index: -1;
    content: '';
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f17e00;
    -moz-transform: skew(0deg, 7deg);
    -webkit-transform: skew(0deg, 7deg);
    -o-transform: skew(0deg, 7deg);
    -ms-transform: skew(0deg, 7deg);
    transform: skew(0deg, 7deg);
  }

  h2{
    font-family: 'Proxima Nova Cn Rg';
    text-transform: uppercase;
    color: #141515;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.02px;
    text-align: center;
    position: relative;

    &:after{
      content: '';
      display: block;
      width: 124px;
      height: 2px;
      background-color: white;
      bottom: -20px;
      left: calc(50% - 62px);
      position: absolute;
    }
  }
  ul.questions{
    max-width: 910px;
    margin: auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    li{
      border-bottom: 1px solid white;

      h3{
        margin: 22px 0;
        padding-left: 24px;
        text-align: left;
        color: white;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400;
        position: relative;

        &:after{
          content: '';
          position: absolute;
          right: 25px;
          top: 7px;
          width: 7px;
          height: 3px;
          background-image: url('../img/arr_down.png');
        }
      }
      p{
        font-size: 12px;
        font-weight: 400;
        color: #ffffff;
        display: none;
      }
      &.active{
        padding-bottom: 24px;
        p{
          display: block;
        }
      }
    }
  }
}

.response{
  h2{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.02px;
    text-align: center;
    position: relative;

    &:after{
      position: absolute;
      content: '';
      display: block;
      width: 124px;
      height: 2px;
      background-color: #f17e00;
      bottom: -18px;
      left: calc(50% - 62px);
    }
  }
  .items{
    margin-top: 60px;
    .row:nth-child(even){
      flex-direction: row-reverse;
      .info{
        padding-right: 25px;
      }
    }
    .row:nth-child(odd){
      .info{
        padding-left: 30px;
      }
    }
    .row{
      justify-content: space-between;
      margin-bottom: 45px;
    }
    .col-6{
      width: calc(50% - 10px);
    }
    .video{
      border: 8px solid #d1d1d1;;
      img, iframe{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .info{
      display: flex;
      img{
        width: 140px;
        min-width: 140px;
        display: block;
        border-radius: 50%;

        height: 140px;
        margin-right: 30px;
      }
      &>div{
        p{
          font-size: 13px;
          color: #000000;
          text-align: left;
        }
        &>div{
          position: relative;
          margin-bottom: 40px;
          &:after{
            content: '';
            position: absolute;
            bottom: -25px;
            display: block;
            width: 42px;
            left: calc(40% - 21px);
            height:2px;
            background-color: #141515;
          }
          h4{
            color: #f17e00;
            font-size: 14px;
            text-transform: uppercase;
            margin: 0;
          }
          i{
            color: #141515;
            font-size: 10px;
          }
        }
      }
    }
  }
}

.rait{
  border: 5px solid #f1f1f1;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  .col-7{
    width: calc(58% - 15px);
    justify-content: flex-end;
    .row{
      justify-content: flex-end;
    }
    .field{
      label{
        text-align: right;
      }
    }
  }
  h3{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #f17e00;
    text-align: left;
  }
  textarea{
    width: 100%;
    height: 95px;
    resize: none;
    border: 1px solid #b7b7b7;
  }
  .column{
    .field{
      margin-bottom: 0;
    }
    .row{
      align-items: center;
      font-size: 14px;
      font-weight: 300;
      span{
        padding: 0 5px;
      }
      input{
        outline: none;
        width: 1px;
        height: 1px;
        opacity: 0;
        position: fixed;
        left: -100px;
        top: -100px;
      }
      input:checked + label:after{
        content: '';
        position: absolute;
        display: block;
        border-radius: 50%;
        width: 5px;
        height: 5px;
        background-color: #f17e00;
        top: 4px;
        left: 4px;
      }
      label{
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 1px solid #b7b7b7;
        position: relative;
        border-radius: 50%;
        margin: 3px;
      }
    }
  }
  .field{
    margin: 10px 0;
    display: flex;
    input{
      width: 100%;
      border: 1px solid #b7b7b7;
      height: 25px;
      background-color: #ffffff;
    }
    label{
      padding-right: 10px;
      font-size: 14px;
      font-weight: 300;
      color: #141515;
      display: block;
      min-width: 105px;
      &:first-letter{
        color: #f17e00;
      }
    }
    i{
      font-size: 10px;
      font-weight: 400;
      &:first-letter{
        color: #f17e00;
      }
    }
    &>div{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &>div{
        display: flex;
      }
      span{
        display: flex;
        background-color: #b7b7b7;
        height: 25px;
        width: 87px;
        font-size: 14px;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
      input{
        width: 87px;
        margin: 0 15px;
      }
    }
  }
  button{
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    background-color: #f17e00;
    display: block;
    border: 0;
    padding: 8px 30px;
  }
}

h2.active{
  font-family: 'Proxima Nova Cn Rg';
  text-transform: uppercase;
  color: #141515;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.02px;
  text-align: center;
  position: relative;
  margin: 60px 0 30px;

  &:after{
    content: '';
    display: block;
    width: 124px;
    height: 2px;
    background-color: #f17e00;
    bottom: -20px;
    left: calc(50% - 62px);
    position: absolute;
  }
}

.our_perv{
  .items{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &>div{
      margin: 20px;
      text-align: center;
      img{

      }
      p{
        margin-top: 30px;
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
      }
    }
  }
}

.clients{
  &>div{
    display: flex;
  }
  .prev, .next{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
  }
  .carousel{
    overflow-x: hidden;
  }
  padding-bottom: 40px;
}

.footer{
  .map{
    height: 500px;
    background-image: url('../img/map.jpg');
    background-size: cover;
    background-position: center center;
  }
  .subscribe{
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f17e00;
    span{
      font-size: 14px;
      font-weight: 400;
      color: #ffffff;
    }
    input{
      max-width: 400px;
      width: 100%;
      background-color: #ffffff;
      border: 0;
      height: 33px;
      color: #c8c6c6;
      padding: 12px 20px;
      margin: 0 40px;
    }
    button{
      background-color: #141515;
      padding: 11px 14px;
      color: #ffffff;
      font-size: 12px;
      font-weight: 300;
      display: block;
      border: 0;
    }
  }
  footer{
    background-color: #141515;
  }
}

@media screen and (max-width: 450px) {

}